.home-container{
width: 100%;
display: block;
/* margin-top: 5rem; */
}

.home-left{
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.home-left img {
  width: 600px;

}

.home-right{
width: 50%;
display: flex;
flex-direction: column ;
align-items: center;
padding-top: 9rem;
}

.main-body{
display: flex;
}

.home-right-nav{
padding: 20px;
}

.logo{
  width: 150px;
}

.btns-div{
display: flex;
flex-direction: column;
gap: 50px;
}

.button{
width: 200%;
padding: 20px;
border-radius: 8px;
color: white;
background-color: #A73121;
font-size: larger;
border: none;
box-shadow: 10px 2px 2px 2px;
}

.right-body{
display: flex;
justify-content: center;
align-items: center;
}


